:root {
    --lb: #D1E8E2;
    --dg: #D9B08C;
    --lg: #FFCB9A;
    --mg: #EF0D50;

    --darkGrey: #1A1A1A;
    --lightBlue: #31E1BD;
    --medBlue: #29C6C7;
    --deepBlue: #090920;
    --goldMetallic: #D4AF37;
    --goldSaturated: #E8B923;
    --greenish: #72E48A;
}

#particle{
    overflow-x: hidden;
    overflow-y: scroll;

    display:flex;
    flex-direction: column;
    position: relative;
    height:120vh;
    width: 90vw;
    left: 180px;
    top: -20px;
}

*::-webkit-scrollbar {
    display: none;
}


#getLinks{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contacts{
   display:none;
   position: relative;
   top: 100px;
}

footer{
    display:flex;
    align-items: center;
    flex-direction: column;
}


.contactButton{
    margin:5px;
    height:3rem;
}

aside{
    z-index: 1;
    display: flex;
    height: 1750px;
    width: 200px;
    position: absolute;
    left: 0px;
    /* background-color: crimson; */
    float: left;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    /* padding-top: 200px; */
}

aside div{
    margin-top:10px;
}

aside ul{
    margin-top:10px;
}
aside ul:focus{
    color:var(--goldSaturated);
    box-shadow: 0px 5px 0px 5px var(--darkGrey) inset, 0px -5px 5px 0px var(--goldSaturated) inset;
}
#name{
font-size: 2rem;
}






p{
    text-align: center;
    padding: 5px;
}

img{
    padding: 5px;
    border-top-right-radius: 50px;
    /* max-width: 60vh; */
    /* max-height: 400px; */
}
figcaption{
    text-align: center;
}
#projects {
   display:none;
    /*  justify-content: center;
    flex-wrap: wrap;
    align-content: center; */
    position: relative;
    max-width: 170vw;
    /* right: -30px; */
    margin-top:150px;
}
#notSoSmolCard{
    max-width: 50vw;
    /* max-height: 400px; */
}

.smolCard{
    max-width: 30vw;
    /* max-height: 400px; */
}

.mayRoundCorners {
    border-radius: 1px 50px 20px 50px;
    border-width: 5px;
}

.smallImages{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-height: 300px;
    max-width: 400px;
}
.c602503{
max-height: 503;
max-width: 602;
}
.card-body{
    max-height: 300px;
}

/* .card-body{ */
    /* object-fit:cover; */

/* } */
#AboutMay {
display:none;

position: relative;
top: 80px;
margin-bottom: 20px;
}

.figure-img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.containerBackground {
    background-color: var(--darkGrey);

    /* box-shadow: 0px 0px 10px 3px var(--goldMetallic),
    0px 0px 20px 2px var(--goldSaturated),
    0px 0px 4px 1px black inset; */
}

.mayNavLinkRecolor {
    color: #FA5D95;
    /* text-shadow: 0px 0px 1px var(--goldSaturated); */
}

.mayNavLinkRecolor:hover{
    color: var(--lightBlue);
    box-shadow: 0px 5px 0px 5px var(--darkGrey) inset, 0px -5px 5px 0px var(--lightBlue) inset;
    position: relative;
    top: 1px;
    left: 1px;
}
.mayNavLinkRecolor:focus{
    color:var(--goldSaturated);
    box-shadow: 0px 5px 0px 5px var(--darkGrey) inset, 0px -5px 5px 0px var(--goldSaturated) inset;
}

.navbar {
    display:none;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px var(--lightBlue);
    border-bottom-right-radius: 20px;
}

.navbar-nav{
    text-align: center;
}

.whiteText{
    color:var(--lb);
}

.navbar-toggler{
transition: width 2s;
}

#mobileFooter{
    display:none;

    position: fixed;
    bottom: 0px;
}

@media only screen and (max-width: 1000px) {
    .navbar{
        display:flex;
    }
    aside{
        display:none;
    }
    #AboutMay{
        display: flex;
    }
    #projects{
        display:flex;
    }
    #contacts{
        display:flex;
    }
    #mobileFooter{
        display:flex;
        
    }
    #notSoSmolCard{
        max-width: 100vw;
        color:var(--lb);
    }
    #particle{

        width:100vw;
        right:10px;
        left:0px;
    }
}